body{
    background: #bdbdbd;
    margin: 0;
    font-family: Helvetica;
}
header {
    background:white;
    padding: 10px;
    margin-bottom: 20px;
}
header h1{
margin: 0;
}
.post{
    background: white;
}
.titulo{
    float: left;
    width: 50%;
}
.span {
    width: 50%;
    float: right;
}
.span span{
    float: right;
}
.post img{
    width: 100%;
}
.container{
    width: 600px;
    margin: auto;
}